@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500 700;
  src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
